<html>
  <head>
    <title>Hello from {{.}}</title>
  </head>
  <body>
    <section>
      <h1>Hello from host {{.}}</h1>
      <img src="logo.png"/>
    </section>
    <style>
      body {
        text-align: center;
        background: #28283C;
        color: #fff;
        height: 100%
      }
      section {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>
  </body>
</html>
